.box{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    margin: 0px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 40px;
    background-color: #ffffff;
    
  }
  .container{
    display: flex;
    justify-content: center;
  }
  .image{
    background-color: rgb(245, 242, 239);
    padding: 30px;
    border-radius: 20px;
  }
  img {
    max-width: 400px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .buttons {
    margin-top: 30px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
  }
  